#components{
  min-height: 600px;
}
#target{
  min-height: 300px;
  border: 1px solid #ccc;
  padding: 5px;
}
#target .component{
  border: 1px solid #fff;
}
#temp{
  width: 500px;
  background: white;
  border: 1px dotted #ccc;
  border-radius: 10px;
}

.popover-content form {
  margin: 0 auto;
  width: 213px;
}
.popover-content form .btn{
  margin-right: 10px
}
#source{
  min-height: 500px;
}

.formgen-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  
}

.formgen-sidenav.affix {
  top: 40px;
}
.formgen-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
  .formgen-sidenav {
    width: 258px;
  }
}

/* Desktop
------------------------- */
@media (max-width: 980px) {

  /* When affixed, space properly */
  .formgen-sidenav {
    top: 0;
    margin-top: 30px;
    margin-right: 0;
  }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 980px) {
  /* Adjust sidenav width */
  .formgen-sidenav {
    width: 166px;
    margin-top: 20px;
  }
  .formgen-sidenav.affix {
    top: 0;
  }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
 

  /* Sidenav */
  .formgen-sidenav {
    width: auto;
    margin-bottom: 20px;
  }
  .formgen-sidenav.affix {
    position: static;
    width: auto;
    top: 0;
  }
}
